# $Rev$
# Option For Refresh_Pettern
# refresh.Conf
#=====================================================
#
#######################################################
# Image Facebook
refresh_pattern -i fbcdn.*net 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i \.facebook\.com.*\.(jp(e?g|e|2)|gif|png|tiff?|bmp|swf|mp(4|3)) 1440 99% 14400 override-expire ignore-reload ignore-private
refresh_pattern \.(akamaihd|edgecastcdn|spilcdn|zgncdn|miniclipcdn|(tw|y|yt)img)\.(net|com).*\.(jp(e?g|e|2)|gif|png|swf|mp(3|4)) 1440 99% 14400 override-expire override-lastmod ignore-reload ignore-private
refresh_pattern (gstatic|diggstatic)\.com/.* 1440 99% 14400 override-expire ignore-reload ignore-private
refresh_pattern (photobucket|pbsrc|flickr|yimg|ytimg|twimg|gravatar)\.com.*\.(jp(e?g|e|2)|gif|png|tiff?|bmp|swf|mp(4|3)) 1440 99% 14400 override-expire ignore-reload ignore-private
refresh_pattern (miniclip|zynga|ninjasaga|mafiawars|cityville|farmville|crowdstar|spilcdn|agame|popcap|nordeus)\.com/.* 1440 99% 14400 override-expire ignore-reload ignore-private store-stale
refresh_pattern ^http(|s)://(merdeka|vimeo|fbcdn|fbstatic|twimg|[a-zA-Z0-9\-]+)\.squid\.internal/.*  10080 80%  79900 override-lastmod override-expire ignore-reload ignore-must-revalidate ignore-private

#PATTERN REFRESH
refresh_pattern -i \.(html|htm|css|js|png|jsp|asx|asp|aspx)$ 240 100% 420
refresh_pattern -i \/speedtest\/.*\.(txt|jpg|png|swf)  0  99% 14400 override-expire ignore-reload ignore-private ignore-reload override-lastmod reload-into-ims 
refresh_pattern .pixieimage\.com.*\.(jp(e?g|e|2)|gif|png|tiff?|bmp|swf|mp(4|3))  1440 99% 14400 override-expire ignore-reload ignore-private ignore-reload override-lastmod reload-into-ims 
refresh_pattern .blogspot\.com.*\.(jp(e?g|e|2)|gif|png|tiff?|bmp|swf|mp(4|3))  1440 99% 14400 override-expire ignore-reload ignore-private ignore-reload override-lastmod reload-into-ims 
refresh_pattern .multiply\.com.*\.(jp(e?g|e|2)|gif|png|tiff?|bmp|swf|mp(4|3))  1440 99% 14400 override-expire ignore-reload ignore-private ignore-reload override-lastmod reload-into-ims 
refresh_pattern .((pikawarnet\.com)|(blogspot\.com)|(pixieimage\.com)|(multiply\.com)).*  60  30% 240


refresh_pattern (speedtest|firefox) 5259487 99% 5259487 override-expire override-expire reload-into-ims ignore-must-revalidate ignore-private ignore-no-cache store-stale

refresh_pattern ^http://(.*?)/get_video\? 10080 90% 14400 override-expire ignore-no-cache ignore-private
refresh_pattern ^http://(.*?)/videoplayback\? 10080 90% 14400 override-expire ignore-no-cache ignore-private
refresh_pattern -i (get_video\?|videoplayback\?id|videoplayback.*id) 161280 99% 525948 override-expire ignore-reload
 
refresh_pattern -i (youtube|google).*(videoplayback|liveplay) 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i (autoup|main|autoupgrade|grandchase|FSLauncher|FreeStyle_Setup|grandchase|cabal|i7|UpdaterModifier|FreeStyle|PBLauncher|update|NewLauncher|NewAvalon)\.exe$ 0 50% 1440 reload-into-ims
refresh_pattern -i (\.Xtp|\.htc|afs.dat|noupdate.ui|autoup.exe|ahnupctl.dll|ahn.ui|ahni2.dll|blank.html|infinity.js|renew_session_token.php|recaptcha.js|patchinfo.xml|images.kom|PatchTimeCheck.dat|all.png|dat.asp|patchinfo.xml|iepngfix.htc|\.Xtp|XDataV1.Xtp)$ 0 10% 1440 reload-into-ims
refresh_pattern -i \.(dl-|sc-) 0 50% 1440 reload-into-ims
refresh_pattern -i \.etology\?	 1440 99% 60480	override-expire ignore-reload ignore-no-cache store-stale
refresh_pattern -i \.adtology\?  1440 99% 60480	override-expire ignore-reload ignore-no-cache store-stale
refresh_pattern (get_video|videoplayback|videodownload|\.flv).*(begin|start)\=[1-9][0-9]* 0 0% 0
refresh_pattern imeem.*\.flv	 0 	0% 	 0  		override-lastmod override-expire
refresh_pattern \.(ico|video-stats) 10080 99% 60480 	override-expire override-lastmod ignore-reload ignore-no-cache ignore-private ignore-auth ignore-no-store store-stale

refresh_pattern -i video\.google\.com\/ThumbnailServer 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i fbcdn.*net 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i c\.android\.clients\.google\.com 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i phobos\.apple\.com.*ipa 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i \/speedtest\/.*(jpg|txt|png|swf)) 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i \.xvideos\.com\/.*(3gp|mpg|flv|mp4) 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i \/xh.*(3gp|mpg|flv|mp4) 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale

############################################################################
# Speedtest
############################################################################
refresh_pattern speedtest.*\.(jp(e?g|e|2)|tiff?|bmp|gif|png|swf|txt|js) 	60480 99% 60480 store-stale override-expire ignore-reload override-lastmod ignore-no-cache
refresh_pattern speedtest.*\.php?	 										60480 99% 60480 store-stale 

############################################################################
# Image
############################################################################
refresh_pattern ytimg\.com.*\.(jpg|png|jpeg|gif|swf|webp)   					60480 99% 60480 override-expire ignore-reload ignore-no-cache reload-into-ims
refresh_pattern yimg\.com.*\.(jpg|jpeg|png|gif|swf|webp)   						60480 99% 60480 override-expire ignore-reload ignore-no-cache reload-into-ims
refresh_pattern photobucket.*\.(jp(e?g|e|2)|tiff?|bmp|gif|png)  				60480 99% 60480 override-expire ignore-reload ignore-no-cache store-stale
refresh_pattern mediafire.com\/images.*\.(jp(e?g|e|2)|tiff?|bmp|gif|png)     	60480 99% 60480 reload-into-ims override-expire ignore-no-cache ignore-private store-stale

################################################################################
# Game Flash Player
################################################################################
# Poker Club88
# ------------------------------------------------------------------------------
refresh_pattern -i \.pokerclub88.com.*\.(jpg|jpeg|png|bmp|ico|swf) 	1440 50% 10080  override-expire ignore-reload override-lastmod ignore-no-cache reload-into-ims
refresh_pattern -i \.pokerclub88.com.*\.(swf|mp3|mp4|gif|swf) 		1440 50% 1440 ignore-no-cache reload-into-ims max-stale=120
refresh_pattern -i ^http://www[0-9]\.pokerclub88\.com\/ 		0 0% 0

# POKER ACE 99
# ------------------------------------------------------------------------------
refresh_pattern -i pokerace99\.com\/(.*)\.(jpg|jpeg|png|gif|ico|bmp|swf|mp3|mp4|wav) 1440 50% 10080  override-expire ignore-reload override-lastmod ignore-no-cache reload-into-ims
refresh_pattern -i ^http://www[0-9].pokerace99.com\/ 0 0% 0

# UBC Poker
# ------------------------------------------------------------------------------
refresh_pattern -i \.ubcpoker\.net.*\.(jpg|jpeg|gif|png|swf|mp3|wav) 1440 50% 10080 override-expire override-lastmod ignore-no-cache reload-into-ims
refresh_pattern -i ^http://www[0-9]\.ubcpoker\.net\/ 0 0% 0

# POKER 88
# ------------------------------------------------------------------------------
refresh_pattern -i \.poker88\.asia.*\.(jpg|jpeg|png|gif|swf|mp3|wav) 1440 50% 10080 override-expire override-lastmod ignore-no-cache reload-into-ims
refresh_pattern -i ^http://www[0-9]\.poker88\.asia\/ 0 0% 0

# ELANGPOKER
# ------------------------------------------------------------------------------
refresh_pattern -i ^http:\/\/www[0-9]\.elangpoker\.(net|com).*\.(jpg|jpeg|gif|png|ico|mp3|wav|swf|css|js) 1440 50% 10080 override-expire override-lastmod ignore-no-cache reload-into-ims store-stale
refresh_pattern -i ^http:\/\/www[0-9]\.elangpoker\.(net|com)\/ 0 0% 0

# KING88 POKER
# ------------------------------------------------------------------------------
refresh_pattern -i ^http:\/\/www[0-9]\.king88\.asia\/.*\.(jpg|jpeg|gif|png|ico|mp3|wav|css|js|swf) 1440 50% 10080 override-expire override-lastmod ignore-no-cache reload-into-ims
refresh_pattern -i ^http:\/\/www[0-9]\.king88\.asia 0 0% 0

# Wartune
# ------------------------------------------------------------------------------
refresh_pattern -i \.r2games\.com.*\.(jpg|jpeg|png|mp3|swf|mp4|wav|amf|gif|ico|bswf)$	10040 50% 10080 reload-into-ims 
refresh_pattern -i ^http:\/\/[a-z][0-9]wartune\.r2games\.com 0 0% 0 reload-into-ims

################################################################################
# Situs-Situs Popular
################################################################################
# Image Blogger
refresh_pattern \.blogspot\.com\/(.*)\.(jpg|jpeg|png|gif|ico|mp4|swf|mp3|flv) 60480 99% 60480 override-expire ignore-reload ignore-no-cache ignore-private ignore-auth ignore-no-store store-stale

#images facebook
refresh_pattern -i .*\.((facebook.com)|(85.131.151.39))\.(jpg|png|gif|swf|mp4|mp3|ico) 60480 99% 60480 ignore-reload override-expire ignore-no-cache ignore-no-store store-stale
refresh_pattern -i .*\.fbcdn\.net\/.*\.((jp(e?g|e|2)|gif|pn[pg]|bm?|tiff?|ico|swf|css|js)|(jp(e?g|e|2)|gif|pn[pg]|bm?|tiff?|ico|swf|css|js)\?) 60480 99% 60480 ignore-no-cache ignore-no-store ignore-private override-expire override-lastmod reload-into-ims store-stale
refresh_pattern static\.ak\.fbcdn\.net*\.(jpg|gif|png) 60480 99% 60480 ignore-reload override-expire ignore-no-cache ignore-no-store store-stale
refresh_pattern ^http:\/\/profile\.ak\.fbcdn.net*\.(jpg|gif|png) 60480 99% 60480 ignore-reload override-expire ignore-no-cache ignore-no-store store-stale

# Forum Ubuntu Indonesia
refresh_pattern -i \.ubuntu\-\indonesia\.com\/.*\.(png|gif|ico|jpg|jpeg) 1440 85% 10080 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-private reload-into-ims  store-stale
refresh_pattern -i http://ubuntu\-\indonesia\.com 0 0% 0 reload-into-ims

# Kompas.com
refresh_pattern -i \.kompas\.com\/.*\.(png|gif|jpg|jpeg|js|ico|mp3|swf) 10080 99% 10080 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-private reload-into-ims  store-stale

# Detik.com
refresh_pattern -i \.detik\.com\/.*\.(jpg|jpeg|gif|swf|mp3|mp4|png) 10080 99% 10080 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-private reload-into-ims store-stale

# Goal.com
refresh_pattern -i \.goal\.com\/.*\.(jpg|swf|png|gif|jpeg|mp4|mp3|flv) 10080 99% 10080 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-private reload-into-ims store-stale
refresh_pattern -i \.static\.eplayer\.performgroup\.com\/.*\.(jpg|swf|png|gif|jpeg|mp4|mp3|flv) 10080 99% 10080 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-private reload-into-ims store-stale

#################################################################################
# Unknow Sites
#################################################################################
refresh_pattern ^.*safebrowsing.*google 60480 99% 60480 override-expire ignore-reload ignore-no-cache ignore-private ignore-auth ignore-no-store store-stale
refresh_pattern ^http://s[1-9]?\.idup\.in\/files/  1440 99% 259200 override-expire ignore-reload ignore-no-cache ignore-no-store ignore-must-revalidate
refresh_pattern \.wikimapia\.org\/? 1440 99% 259200 override-expire override-lastmod ignore-reload ignore-no-cache ignore-private ignore-must-revalidate store-stale
refresh_pattern (resize|timthumb|product_thumb|thumb|img|imag(e|es))\.php?  1440 99% 5259487 override-expire ignore-reload ignore-no-cache store-stale
refresh_pattern \.adobe.com.*\.(exe|zip|swf|gif|jpg|png|jpeg|msi|msp) 1440 99% 10080 reload-into-ims override-expire ignore-no-cache ignore-no-store store-stale 
refresh_pattern -i obataborsi88.com.* 1440 80% 10080 override-expire override-lastmod ignore-no-cache reload-into-ims
refresh_pattern -i c\.android\.clients\.google\.com 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale
refresh_pattern -i phobos\.apple\.com.*ipa 1440 99% 14400 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-must-revalidate ignore-reload store-stale

#################################################################################
# Custom Option Site Download
#################################################################################
# 4Shared
refresh_pattern ^http:\/\/[a-zA-Z]{2}\d*\.4shared\.com(:8080|)\/download\/(.*)\/(.*\..*)\?.* 10080 99% 60480 ignore-no-cache ignore-no-store ignore-private override-expire override-lastmod reload-into-ims store-stale
refresh_pattern ^http\:\/\/static\.4shared\.com\/.*\.(jpe?g|swf|png|ico|css|js|gif|wmv|avi|mp3|mp4|3gp|flv) 10080 99% 43200 ignore-reload reload-into-ims  store-stale
refresh_pattern ^http://download.*\.4shared\.com/ 10080 99% 5259487 override-expire reload-into-ims ignore-private ignore-no-cache store-stale

# Indowebster
refresh_pattern ^http:\/\/\.www[0-9][0-9]\.indowebster\.com\/(.*)(mp3|rar|zip|flv|wmv|3gp|mp(4|3)|exe|msi|zip) 43200 99% 129600 reload-into-ims  ignore-reload override-expire ignore-no-cache

# Repaidshare
refresh_pattern \.rapidshare.*\/[0-9]*\/.*\/[^\/]* 43200 99% 43200 ignore-reload store-stale

# Filesonic
refresh_pattern ^http:\/\/s[0-9]*\.filesonic\.com\/download\/([0-9]*)\/(.*) 43200 99% 43200 ignore-no-cache ignore-no-store ignore-private override-expire override-lastmod reload-into-ims store-stale

# Mediafire
refresh_pattern mediafire.com\/images.*\.(jp(e?g|e|2)|tiff?|bmp|gif|png) 	43200 99% 43200 reload-into-ims override-expire ignore-private store-stale
refresh_pattern ^http:\/\/199\.91\.15\d\.\d*\/\w{12}\/(\w*)\/(.*) 			43200 99% 43200 ignore-no-cache ignore-no-store ignore-private override-expire override-lastmod reload-into-ims store-stale

# Tusfile
refresh_pattern tusfiles\.net.*\.(jp(e?g)|gif|swf|png|css|js|mp3|zip|rar|exe|3gp|flv|mp(3|4)) 43200 99% 43200 ignore-no-store ignore-private ignore-must-revalidate reload-into-ims store-stale

#################################################################################
# Custom Option ANTI VIRUS
#################################################################################
refresh_pattern \/*.eset.*\.(bin|php|ui|exe|mcs|gem|avc|nup|ver) 		1440 95% 40320 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-reload reload-into-ims store-stale
refresh_pattern \/*.eset.*\.(bin|php|ui|exe|mcs|gem|avc|nup|ver)$		1440 95% 40320 override-expire override-lastmod ignore-no-cache ignore-no-store ignore-reload reload-into-ims store-stale

##################################################################################
# Custom Option UPDATE
##################################################################################
# Windows Update
refresh_pattern windowsupdate.com/.*\.(cab|exe) 											10080 80% 10080 ignore-no-cache ignore-reload reload-into-ims store-stale
refresh_pattern update.microsoft.com/.*\.(cab|exe) 											10080 80% 10080 ignore-no-cache ignore-reload reload-into-ims store-stale
refresh_pattern download.microsoft.com/.*\.(cab|exe) 										10080 80% 10080 ignore-no-cache ignore-reload reload-into-ims store-stale
refresh_pattern [a-z][a-z][a-z][a-z][a-z][a-z][a-z].update.microsoft.com/.*\.(cab|exe) 		10080 80% 10080 ignore-no-cache ignore-reload reload-into-ims store-stale
refresh_pattern [a-z0-9].download.microsoft.com/.*\.(cab|exe) 								10080 80% 10080 ignore-no-cache ignore-reload reload-into-ims store-stale

#################################################################################
# GAMES IIX
#################################################################################
# GRANDCHACE
refresh_pattern -i ^http:\/\/122.102.49.202*\.(dat|xml|kom|jpg|exe|xml|kom) 				1440 80% 10080 reload-into-ims
refresh_pattern -i ^http:\/\/grandchase\.megaxus\.com.*\.(jpg|jpeg|gif|png|swf|xml|kom) 	1440 80% 10080 reload-into-ims

# LOSTSAGA
refresh_pattern -i ^http://patch\.gemscool\.com\/lsaga\/	0 80% 10080  reload-into-ims

##################################################################################
# PORN
##################################################################################
refresh_pattern -i \.flyflv.com.*\.(jpg|jpeg|png|bmp|ico|gif|flv|mp4|3gp|mp3|avi) 	43200 99% 43200 override-expire ignore-reload ignore-no-cache ignore-no-store store-stale
refresh_pattern -i \.xvideos\.com\/.*(3gp|mpg|flv|mp4) 								43200 99% 43200 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-reload store-stale
refresh_pattern -i \/xh.*(3gp|mpg|flv|mp4) 											43200 99% 43200 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-reload store-stale

##################################################################################
# Custom Option All Download
##################################################################################
#All File with ?
refresh_pattern -i \.(3gp|avi|ac4|mp(e?g|a|e|1|2|3|4)|m4(a|v)|3g(p?2|p)|mk(a|v)|og(x|v|a|g|m)|wm(a|v)|wmx|wpl|rm|snd|vob|wav|asx|avi|qt|divx|flv|f4v|x-flv|dvr-ms|m(1|2)(v|p)|mov|mid)\? 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(msp|7z|ace|rar|jar|gz|tgz|bz2|iso|mod|arj|lha|lzh|zip|tar|cab|dat|nzp|kom|pak)\? 43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(jp(e?g|e|2)|gif|pn[pg]|bm?|tiff?|ico|swf|dat|ad|txt|dll)\?	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(exe|ms(i|u|p)|deb|bin|ax|r(a|p)m|app|pkg|apk)\? 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(pp(t?x|t)|epub|pdf|rtf|wax|cb(r|z|t)|xl(s?x|s)|do(c?x|c)|inc)\? 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale

#All File without ?
refresh_pattern -i \.(3gp|avi|ac4|mp(e?g|a|e|1|2|3|4)|m4(a|v)|3g(p?2|p)|mk(a|v)|og(x|v|a|g|m)|wm(a|v)|wmx|wpl|rm|snd|vob|wav|asx|avi|qt|divx|flv|f4v|x-flv|dvr-ms|m(1|2)(v|p)|mov|mid) 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(7z|msp|ace|rar|jar|gz|tgz|bz2|iso|mod|arj|lha|lzh|zip|tar|cab|dat|nzp|kom|pak) 		43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(jp(e?g|e|2)|gif|pn[pg]|bm?|tiff?|ico|swf|dat|ad|txt|dll) 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(exe|ms(i|u|p)|deb|bin|ax|r(a|p)m|app|pkg|apk) 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale
refresh_pattern -i \.(pp(t?x|t)|epub|pdf|rtf|wax|cb(r|z|t)|xl(s?x|s)|do(c?x|c)|inc) 	43200 99% 43200 ignore-no-cache ignore-no-store ignore-must-revalidate override-lastmod reload-into-ims store-stale

refresh_pattern ^http\:\/\/*\.facebook\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/*\.kaskus\.us\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/*\.google\.co\*.*/ 10080 90% 43200 reload-into-ims
refresh_pattern ^http\:\/\/*\.yahoo\.co*\.*/ 10080 90% 43200 reload-into-ims
refresh_pattern ^http\:\/\/.*\.windowsupdate\.microsoft\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/office\.microsoft\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/windowsupdate\.microsoft\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/w?xpsp[0-9]\.microsoft\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/w2ksp[0-9]\.microsoft\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/download\.microsoft\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/download\.macromedia\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^ftp\:\/\/ftp\.nai\.com/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/ftp\.software\.ibm\.com\/ 10080 80% 43200 reload-into-ims
refresh_pattern ^http\:\/\/*\.google\.co\*.*/ 10080 90% 43200 reload-into-ims
refresh_pattern ^http\:\/\/*\.yahoo\.co*\.*/ 10080 90% 43200 reload-into-ims
refresh_pattern ^http://*.google.*/.* 720 80% 4320
refresh_pattern ^http://*.4shared.*/.* 720 80% 4320
refresh_pattern ^http://*.yahoo.com/.* 720 80% 4320
refresh_pattern ^http://*.yimg.*/.* 720 80% 4320
refresh_pattern ^http://*.boleh.*/.* 720 80% 4320
refresh_pattern ^http://*.kompas.*/.* 180 80% 4320
refresh_pattern ^http://*.google-analytics.*/.* 720 80% 4320

############################################################################
#All File
############################################################################
refresh_pattern -i storeurl://.*SQUIDINTERNAL 60480 99% 60480 override-expire override-lastmod ignore-no-cache ignore-private reload-into-ims ignore-reload store-stale

#################################################################################
# Default Refresh Pettern
#################################################################################
refresh_pattern -i (/cgi-bin/|\?)  0  	0%  	0
refresh_pattern \.(php|jsp|cgi|asx)\? 0 0% 0
refresh_pattern \.(php|jsp)$ 0 0% 0
refresh_pattern ^gopher:        	1440  0%   	10080
refresh_pattern ^ftp:           	1440  95% 	259200  override-lastmod reload-into-ims store-stale
refresh_pattern .               	1440  95% 	259200	override-lastmod reload-into-ims store-stale
# End Konfigure squid.refresh.config
